@use "@/styles/abstracts" as *;

.city-switcher {
  position: relative;

  &__current {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    line-height: 1.5;
    @include transition-simple;

    @include hover {
      color: $text-hover;
    }
  }

  &__icon {
    width: 24px;
    height: 24px;
  }

  &__list {
    position: absolute;
    top: calc(100% + 8px);
    left: 0;
    min-width: 110px;
    padding: 6px;
    border-radius: 12px;
    background-color: $white;
    box-shadow: 0 8px 24px rgba($black, 0.12);

    &[hidden] {
      display: none;
    }
  }

  &__btn {
    width: 100%;
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 14px;
    text-align: left;
    @include transition-simple;

    @include hover {
      color: $text-hover;
    }
  }
}
