<div class="city-switcher header__city">
  <button class="city-switcher__current" type="button" aria-haspopup="true" aria-expanded="false">
    <icon name="city" class="city-switcher__icon"></icon>
    <span data-city-current data-i18n="header.cities.almaty">Алматы</span>
  </button>
  <ul class="city-switcher__list" hidden>
    <li><button class="city-switcher__btn" type="button" data-city="almaty" data-i18n="header.cities.almaty">Алматы</button></li>
    <li><button class="city-switcher__btn" type="button" data-city="astana" data-i18n="header.cities.astana">Астана</button></li>
  </ul>
</div>
